.section {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    padding : 30px;
}

.projectHeader {
    display: flex;
    flex-direction: row;

    color: black;
    font-weight: bold;
    font-size: 75px;
}

.projectMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
