.section {
    min-height: 100vh;

    display: flex;
    flex-direction: row;

    padding : 30px;
}

.imageContainer {
    width: 10%;
    margin: auto;
}

.imageContainer > img {
    min-width: 225%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 5px 50px 50px 5px;
}


/*.imageContainer > img:hover {*/
/*    scale: 1.1;*/
/*    transition-duration: 0.4s;*/
/*}*/

.introduceContainer {
    width: 40%;
    margin: auto;
}

.introduceContainer > h1 {
    font-size: 3rem;
}

.introduceContainer > h3 {
    font-size: 1.5rem;
}

.introduceContainer > h3 > strong {
    color: rgb(6, 141, 251);
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.buttonContainer > Button {
    all: unset;
    margin-right: 30px;
    font-size: 18px;
}
